@import "~antd/dist/antd.css";

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Winner {
  margin: 40px 0;
}

.Header {
  text-align: center;
}

.List-Item {
  color: #09d3ac;
}

.List-Item:hover {
  color: white;
  background-color: teal;
}

.List-Item:active {
  color: white;
  background-color: rosybrown;
}

.TextInput-Container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.Footer-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Item-Name {
  margin: 0;
}
